<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Debug" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>  
  <connectionStrings>
    <add name="Database"
      connectionString="server=X.X.X.X;Database=DATABASE_NAME;User id=USER_NAME;Password=USER_PASSWORD"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>