<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Debug" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>  
  <connectionStrings>
    <add name="Database" connectionString="server=np-stem.temple.edu;Database=CIS4396F06;User id=usrCIS4396F06;Password=UGF0dGluZ0dpcmFmZmUzMA==" />

  </connectionStrings>
</configuration>