<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CitizenScience_UIPrototype.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SiteName" value="Citizen Science" />
    <add key="SiteVersion" value="0.6.0" />
    <add key="Debug" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Database"
         connectionString="server=67.205.188.98;Database=luckenbill0;User id=SA;Password=SDUkNUw3IUFqbjRlZiMzaVlI"/>
    <!--<add name="Database" connectionString="server=np-stem.temple.edu;Database=CIS4396F06;User id=usrCIS4396F06;Password=UGF0dGluZ0dpcmFmZmUzMA==" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-Content-Type-Options"/>
        <add name="Content-Security-Policy"
             value="default-src http: https: 'unsafe-inline';" />
        <add name="X-Content-Type-Options"
             value="NOSNIFF" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Permitted-Cross-Domain-
      Policies" value="master-only"/>
        <add name="X-XSS-Protection" value="1;
      mode=block"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <CitizenScience_UIPrototype.Properties.Settings>
      <setting name="CitizenScience_UIPrototype_LDAPsearch_LDAP_Search"
        serializeAs="String">
        <value>https://preprod-wsw.temple.edu/ws_ldapsearch/ldap_search.asmx</value>
      </setting>
    </CitizenScience_UIPrototype.Properties.Settings>
  </applicationSettings>
</configuration>
