<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SiteName" value="Citizen Science" />
    <add key="SiteVersion" value="0.6.0" />
    <add key="Debug" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="server=67.205.188.98;Database=mike0;User id=SA;Password=H5$5L7!Ajn4ef#3iYH" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
</configuration>