.no-sort::after {
    display: none !important;
}

.no-sort {
    pointer-events: none !important;
    cursor: default !important;
}

td.details-control {
    background: url('../arrow-down.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../arrow-right.png') no-repeat center center;
}

#viewAddNewImage .nav-link {
    color: #495057;
}

#viewManageImages .nav-link {
    color: #495057;
}