<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CitizenScienceClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CitizenScienceClasses.Properties.Settings>
            <setting name="CitizenScienceClasses_LDAP_Search_LDAP_Search"
                serializeAs="String">
                <value>https://preprod-wsw.temple.edu/ws_ldapsearch/ldap_search.asmx</value>
            </setting>
        </CitizenScienceClasses.Properties.Settings>
    </applicationSettings>
</configuration>